body {
   text-align: center;
   margin: 0;
}
.tabla {
    border: 2px outset rgb(250, 230, 230);
    width: 54vw;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 23%;
}
th {
    border: 2px solid rgb(232, 215, 215); 
    width: 60vw;
}
.primero {
    text-align: center;
    background-color: aliceblue;
}
.segundo {
    text-align: center;
    background-color: rgb(231, 227, 138);
}
table {
     border-collapse: collapse;
}