.container {
  width: 195vw;
  height: 95vh;
}
/* PRIMER BLOQUE DE IMAGENES MARIO */
.mario1 {
  /* DAR FORMATO AL CUERPO DE LA PRIMERA */
  width: 14vw;
  height: 14vh;
  background-color: rgb(161, 161, 241);
  border: 2px solid blue;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 30%;
  margin-right: 0px;
  margin-left: -20px;
  margin-top: -150px;
  /* AÑADIR EL SUELO */
  background-image: url('../img/f01.png');
  background-attachment: scroll;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
}
/* POSICIONAMIENTO DEL RESTO DE IMAGENES */
.nubes1 {
  margin-left: 1px;
  margin-top: -24px;
}
.central1 {
  margin-left: -3px;
  margin-top: -80px;
}

/* SEGUNDO BLOQUE DE IMAGENES MARIO */
.mario2 {
  width: 25vw;
  height: 40vh;
  background-color: rgb(128, 68, 0);
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 48%;
  left: 40%;
  margin-right: 0px;
  margin-left: -60px;
  margin-top: -150px;
  background-image: url('../img/f01.png');
  background-attachment: scroll;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
}
#nubes2 {
  margin-left: 1px;
  margin-top: -24px;
  background-image: url('../img/f03.png');
  background-attachment: scroll;
  background-position: top;
  background-size: auto;
  background-repeat: repeat-x;
}

/* TERCER BLOQUE DE IMAGENES MARIO */
.mario3 {
  width: 14vw;
  height: 14vh;
  background-color: rgb(161, 161, 241);
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 95%;
  left: 30%;
  margin-right: 0px;
  margin-left: -20px;
  margin-top: -150px;
  background-image: url('../img/f01.png');
  background-attachment: scroll;
  background-position: bottom;
  background-size: auto;
  background-repeat: repeat-x;
}
.nubes3 {
  margin-left: 5px;
  margin-top: -24px;
}
.central3 {
  margin-left: -3px;
  margin-top: -80px;
}
